<div class="country-container">
    <h2 class="country-name">{{name}}</h2>
    <div class="country-card">
        <div class="country-information">
            <p><b>Capital: </b>{{capital}}</p>
            <p><b>Population: </b>{{population}}</p>
            <ul class='country-languages-list'>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="img">
            <img class="country-img" src="{{flag}}" alt="{{name}}">
        </div>
    </div>
</div>